[Container]
Name=sonarr
Image=__SONARR_IMAGE__

Network=sso

Environment=PUID=__PUID__
Environment=PGID=__PGID__
Environment=TZ=__TZ__

Volume=sonarr-config:/config

Restart=always
