name: Docstrings

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  docstring-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install interrogate

      - name: Check docstring coverage
        run: |
          interrogate -v nodupe/ --fail-under 80
