name: SecureStack ABOM/SBOM

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  sbom:
    name: Generate SBOM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate SBOM
        uses: SecureStackCo/actions-abom@v0.1.5
        env:
          SECURESTACK_API_TOKEN: ${{ secrets.SECURESTACK_API_TOKEN }}

      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: sbom
          path: sbom.*
          retention-days: 30
